*{
    margin: 0px;
}

body{

    display: grid;

    grid-template-areas: 

    "cab cab cab"

    "asd pcp pcp"

    "ftt ftt ftt" ;

    grid-template-columns: 1fr 1fr 1fr;

    grid-template-rows: 100px 800px 100px;

}



header{

    grid-area: cab;

    background-color: rgb(186, 124, 245);

}

aside{

    grid-area: asd;

    background-color: rgb(241, 196, 82);

}

main{

    grid-area: pcp;

    background-color: rgb(126, 253, 211);

}

footer{

    grid-area: ftt;

    background-color: crimson;

}
