
*{
    margin: 0px;
}

nav{

    border: 2px;

}

nav li{

    display: inline;

    margin-left: 50px;

}

nav li a{

    border: 2px goldenrod

    color: chartreuse;

}

body{

    display: grid;

    grid-template-areas: 

    "cab cab cab"

    "asd pcp pcp"

    "ftt ftt ftt" ;

    grid-template-columns: 1fr 8fr 1fr ;

    grid-template-rows: auto auto auto;

}

header{

    grid-area: cab;

    background-color: rgb(186, 124, 245);

    display: flex;

    height: 500px;

}

aside{

    grid-area: asd;

    background-color: rgb(241, 196, 82);

    height: 100px; 
}

main{

    grid-area: pcp;

    background-color: rgb(126, 253, 211);

    position: relative

    padding: 60px;

    width: 5000px;

    height: 500px;

}

footer{

    grid-area: ftt;

    background-color: crimson;

}
